<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace"></div>
<div class="alert alert-danger" th:if="${param.error}">
  <h3> invalid credentials!</h3>
</div>
<form th:action="<{/login}"  method="post">



    <div class="form-group col-12 col-lg-6">
        <label for="username" class="form-control-label">username</label>
        <input type="text" class="form-control"  id="username" name="username"/>

    <div class="form-group col-12 col-lg-6">
        <label for="password" class="form-control-label">password</label>
        <input type="text" class="form-control"  id="password" name="password"/>

    <input type="submit" value="Sign in" class="btn btn-primary btn-lg"/>

</body>

</html>